extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		.header
			

		.body
			section.sec1
				img.logo.wow.fadeInUp(src="../../assets/img/logo.svg", alt="")
				.titulo.wow.fadeInRight.btnVoltar 
					button  <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
					| <span>Gerente de Produto OU ANALISTA DE MARCA</span>
				
				.containerTxt.wow.fadeInUp
					.text.azul 
						| Bem-vindo ao Treinamento Anual sobre Procedimentos e Cuidados Essenciais na Distribuição de Amostras Grátis de Medicamentos para uma breve atualização dos seus conhecimentos.
					.text.text1.azul.bold 
						| <b>Convidamos você, Gerente de Produto ou Analista de Marca, para uma breve atualização dos seus conhecimentos. São informações importantes uma vez que as amostras grátis representam parte de nossa reputação e posicionamento diante do mercado farmacêutico.</b>
					.text.text1.mt0_5.azul 
						| Ao final, teste seus conhecimentos participando do nosso quiz.
					.text.text1.mt1.azul.ml 
						| Para começar, assista ao vídeo que destaca a<br> importância das amostras grátis no nosso setor.
					.text.text1.mt1_5.roxo.ml 
						| <b class="roxo">Basta dar play, bons estudos!</b>
					img.wow.zoomIn.tela01_01(src="../../assets/img/tela01_01.svg", alt="")

				.containerVideo.wow.zoomIn.delay1
						video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")

				
			

			section.sec5.wow.fadeInUp
				
				.containerTxt.wow.fadeInUp
					h4 Composição da quantidade de amostras trabalhadas
					h4.prop-l1 Responsável: Gerente de Produto/ANALISTA DE MARCA
					img.sec-title.wow.zoomIn(src="../../assets/img/calculadora.svg", alt="")
				
				.info.wow.fadeInUp
					
					.text.text1.mt0_5
						| O controle da quantidade de amostras a serem distribuídas é essencial<br> dentro do nosso processo para evitar faturamentos desnecessários<br> e alocação indevida desse recurso com impacto financeiro.
					.text.text1.mt0_5.azul
						| <b>Portanto, é sua responsabilidade:</b>
					.litd.mt1
						img.sec-title.wow.zoomIn(src="../../assets/img/peopleRoxo.svg", alt="")
						.text.text1
							| No <b>sistema Veeva CRM</b>, revisar o saldo disponível analisando o ciclo atual -1 por representante. Com a determinação da quantidade, as amostras são enviadas para a residência dos colaboradores após o faturamento.
					.text.text1.mt1_5.azul
						| <b><a class="link azul" href="https://az.app.box.com/file/928750110866?s=h9b17h06t4hzb9fvdvdg8qm3ktkkf67q" target="_black">Clique</a> para conferir os limites máximos por apresentação para os produtos da linha de CVRM.</b>
					.text.text1.mt0_5
						| Após o faturamento, as amostras são despachadas para a residência do Representante,<br>que deve confirmar o recebimento no sistema Veeva CRM.
						
					
				.containerTxt.wow.fadeInUp
					h4 
						| ROUBO, PERDA OU EXTRAVIO DE AMOSTRAS
					img.sec-title.wow.zoomIn(src="../../assets/img/ladrao.svg", alt="")
				
				.info.wow.fadeInUp
					
					.text.text1.mt0_5
						| No dia a dia com as amostras, situações indesejadas podem ocorrer, como extravios,<br> perda de medicamentos e, infelizmente, casos de furtos ou roubos.
					.text.text1.mt0_5.azul
						| <b>Esses problemas podem contribuir para falsificações, comércio clandestino ou uso<br> indevido dos medicamentos, colocando em risco a reputação da AstraZeneca e, <br>acima de tudo, a saúde dos nossos pacientes.</b>
					.text.text1.mt0_5
						| Nossos representantes, claro, estão mais sujeitos a essas ocorrências, mas é <br>importante que saiba apenas que temos rigorosos procedimentos que devem <br>ser seguidos por eles e também por nossos GDs.
					
					
					.blockColor 
						img.peopleTriste.wow.zoomIn(src="../../assets/img/peopleTriste.svg", alt="")
						.text
							| Sobre esse tema ainda, pode ocorrer a localização ou recuperação das amostras. É importante que saiba que, <b>amostras recuperadas, sob nenhuma hipótese, podem ser entregues aos médicos</b>. Elas passarão por um processo de logística reversa para destruição na AstraZeneca.
				
			section.sec6.wow.fadeInUp 

				.containerTxt.containerTxt2.wow.fadeInUp
					img.sec-title.wow.zoomIn(src="../../assets/img/remedio.svg", alt="")
					
				
				.info.info2.wow.fadeInUp
					.baseInfo
						h4.azul Recall de amostras
						.text.textB
							| Esse é mais um processo importante<br> em nosso negócio.
						.text.textB
							| <b>Conheça-o em detalhes assistindo ao vídeo.</b>
					.containerVideo.wow.zoomIn.delay1
						video(src="../../assets/video/video3.mp4" controls controlsList="nodownload"  poster="../../assets/video/video3.png")
			
		
				
					
			section.sec9.wow.fadeInUp#controlComplete
				
				.info
					img.lapis(src="../../assets/img/lapis.svg", alt="")
					.infoBase
						.text Encerramos aqui o nosso treinamento, hora de testar <br>seus conhecimentos, são apenas quatro questões.<br> <b>Responda-as e confira o resultado</b>.
						.liX 
							img(src="../../assets/img/sobre.svg", alt="")
							.text.roxo.bold Lembre-se de que você pode acessar à política completa <a href="https://az.app.box.com/file/875626531411" class="link roxo" target="_blank">clicando aqui</a>.
							
					
					
					.containerExercicio
						.exercicioInit.exercicioInit1.mt2_5(correta=3)
							.indice 1
							.text.title.subtitulo
									<span class="">Por que é importante o controle das quantidades de amostras junto aos representantes?</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Para evitar o risco de extravios</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Para evitar a deterioração e vencimento das amostras</span>
								.alter.alter3(res=1, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">Para evitar faturamentos desnecessários e alocação de recursos financeiros.</span>
								.alter.alter4(res=0, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">Para reduzir o risco de falsificações.</span>
						
						.exercicioInit.exercicioInit2.mt2_5(correta=4)
							.indice 2
							.text.title.subtitulo
									<span class="">No que se refere a qualidade das amostras:</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Elas simbolizam a imagem da AstraZeneca perante aos médicos.</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Sob condições inadequadas de armazenamento podem comprometer sua eficácia.</span>
								.alter.alter3(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">Os times de campos são também responsáveis pelos seus cuidados.</span>
								.alter.alter4(res=1, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">Todas alternativas estão corretas.</span>
						
						.exercicioInit.exercicioInit3.mt2_5(correta=2)
							.indice 3
							.text.title.subtitulo
									<span class="">É responsabilidade o Gerente de Produto ou Analista de Marca a determinação da quantidade de amostras a serem distribuídas na linha CVRM:</span>
							.alters
								.alter.alter1(res=1, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Verdadeiro.</span>
								.alter.alter2.alterCustom(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Falso.</span>
								
						.exercicioInit.exercicioInit4.mt2_5(correta=3)
							.indice 4
							.text.title.subtitulo
									<span class="">Assinale a afirmativa correta relacionada ao recall de medicamentos:</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Trata-se de um processo mandatório que vale também para as amostras <br>grátis comercializadas.</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Trata-se de uma oportunidade de testar nossa agilidade e garantir que todos <br>saibam o que fazer.</span>
								.alter.alter3.alterCustom(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">Trata-se de um processo válido apenas para os medicamentos comercializados.</span>
								.alter.alter4.alterCustom(res=1, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">Alternativas 1 e 2 estão corretas.</span>
							
						
						.btnConfrmar.mt1_5
							| FINALIZAR
						
						.feed.feed-positivo1.mt1_5.wow.fadeIn
							.textBase
								.text
									| <span class="bold azul">Parabéns! Você assimilou todo o conteúdo! Siga em frente e bom trabalho!</span>
						
						.feed.feed-positivo2.mt1_5.wow.fadeIn
							.textBase
								.text
									| <span class="bold azul">Uma questão errada! Veja com atenção qual seria a resposta correta e bom trabalho!</span>
						
						.feed.feed-negativo.mt1_5.wow.fadeIn
							.textBase
								.text
									| <span class="bold branca">Hum, melhor rever esse conteúdo. Esfrie a cabeça e, mais tarde, tente novamente!</span>
			

block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
