extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		.header
			

		.body
			section.sec1
				.baseTop.animated.fadeInDown
					.titulo.wow.fadeInRight.btnVoltar 
						button  <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
						| <span>Gerente de Produto, Analista ou Coordenador de Marca</span>
					img.logo.wow.zoomIn(src="../../assets/img/logo2.svg", alt="")
				
				.base
					.baseCenter.animated.fadeInUp.delay2
						h1 Treinamento Anual
						.text Procedimentos e Cuidados com Amostras Grátis de Medicamentos
					
				
					.containerTxt.wow.fadeInUp.delay3
						.text 
							| Bem-vindo ao nosso <b>Treinamento Anual sobre Procedimentos e Cuidados Essenciais na Distribuição de Amostras Grátis de Medicamentos!</b> Este é o momento ideal para atualizar seus conhecimentos de forma prática e objetiva.
						.text.text1.mt1.azul.bold 
							| Para a sua posição, as informações desse treinamento oferecem uma visão geral das amostras que poderão auxiliar na definição das quantidades que deverão ser faturadas.
						.text.text1.mt1 
							| Além disso, as amostras grátis desempenham um papel fundamental em nossa reputação e posicionamento, tornando indispensável compreender os procedimentos, cuidados e melhores práticas em sua distribuição.
						.text.text1.mt1
							| Ao final, coloque seu aprendizado à prova no nosso quiz!
						.text.text1.mt1.azul.bold 
							| Para iniciar, assista ao vídeo que ressalta a importância das amostras grátis no setor.
						.text.text1.mt1.azul.bold 
							| Bons estudos!
						.player
							button.openModal.pulse(mod="modalGeral1") 
								img.wow.zoomIn(src="../../assets/img/2025/btnPlay01.svg", alt="")
						img.setas.wow.fadeInDown.delay4(src="../../assets/img/2025/setas.png", alt="")
			
			.modalBase.modalGeral.modalGeral1.wow.fadeIn
				.modalBaseData
					video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")
					button.close-btn.modal-close.pulse 
						img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
							
						
			section.sec5D.wow.fadeInUp
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h3
							| Composição da quantidade de amostras trabalhadas
						.listT
							.text RESPONSÁVEIS:
							.baseT
								.text GERENTE DE PRODUTO
								.text ANALISTA DE MARCA
								.text COORDENADOR DE MARCA
						
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec12.png", alt="")

					.line.wow.fadeInUp
						.text.textInit
							| O controle adequado da quantidade de amostras distribuídas é fundamental para garantir eficiência no processo, evitando faturamentos desnecessários e a alocação incorreta de recursos, o que pode gerar impacto financeiro para a AstraZeneca.
						.blocD
							img.wow.zoomIn.sec2_02_img(src="../../assets/img/2025/sec12b.png", alt="")
							.text.bold Por isso, é sua responsabilidade:
							.text No sistema <span class="azul">Veeva CRM</span>, revisar o saldo disponível, considerando o ciclo atual -1 por representante.
							
						.subS
							img.wow.zoomIn.sec2_03_img(src="../../assets/img/2025/sec12c.png", alt="")
							.text Após a definição da quantidade, as amostras são faturadas e enviadas <br>para a residência dos colaboradores.
							.text.mt1.bold.azul <a class="azul"  href="" target="_blank">Confira</a> os limites máximos por apresentação para os produtos. 
							.text.mt1 Após o faturamento, as amostras seguem para a residência do Representante,<br> que deve registrar a confirmação de recebimento no sistema Veeva CRM.



			section.sec3.wow.fadeInUp
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| Roubo, perda ou extravio de amostras
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec05.png", alt="")

					.line.wow.fadeInUp
						.text
							| No manuseio diário das amostras, podem surgir imprevistos como extravios, perdas de medicamentos e, infelizmente, casos de furtos ou roubos.
						.text.mt1_5 Essas ocorrências podem favorecer falsificações, comércio ilegal e uso indevido dos medicamentos, o que pode comprometer não apenas a reputação da AstraZeneca, mas, principalmente, a segurança e o bem-estar dos pacientes.
						.text.bold.azul.mt1_5 Por isso, é essencial seguir rigorosamente as orientações e os prazos estabelecidos, com atenção especial para você que atua como representante.
						.lineExerc.mt1_5.wow.fadeInUp
							h3.bold.roxo
								| Você sabe dizer qual o prazo de notificação no caso de extravio de amostras?
			
							.exercic02.wow.fadeInUp
								.ques
									.itq.itq1(it=0)
										.circ
										.val 12h
									.itq.itq2(it=1)
										.circ
										.val 24h
									.itq.itq3(it=0)
										.circ
										.val 48h
									.itq.itq4(it=0)
										.circ
										.val 72h

								.feedQues.mt1_5.wow.fadeInUp
									.text.feedImg.feedImgPos
										| <b class="verde">Correto!</b> Esse é o prazo máximo para notificar qualquer extravio de amostras. Claro, o quanto antes notificar será benefício para todos.
									.text.feedImg.feedImgNeg
										| <b class="vermelho">Errado!</b> O prazo máximo para notificar qualquer extravio de amostras são de <b>24h</b>. Claro, o quanto antes notificar será benefício para todos.
							
							.baseXSSD.inativeB 
								.alertInf.mt1_5 A notificação deve ocorrer pelo grupo no Outlook:<br> +BRCZ_ROUBOS_EXTRAVIOS_AGS
								.text.mt1_5 <b class="roxo">Em casos de furtos ou roubos</b>, além da notificação, <b>é obrigatório registrar um Boletim de Ocorrência Policial</b> com uma descrição detalhada do incidente, incluindo o nome do produto, lote e quantidades subtraídas, para que as autoridades competentes estejam cientes e possam tomar as devidas providências.
								.text.mt1_5 <b>Também é mandatório enviar uma cópia deste boletim para o grupo +BRCZ_ROUBOS_EXTRAVIOS_AGS</b>. Caso o boletim de ocorrência policial não contenha todos os detalhes necessários, utilize o corpo do e-mail da sua notificação para adicionar as informações essenciais que serão utilizadas pelos nossos times internos.
								.text.textInfo.mt1_5.bold.roxo Lembre-se de que qualquer informação pode fazer uma diferença significativa na resolução do caso. Portanto, <br>relate tudo o que lembrar!
						
					.sec2_block02.wow.fadeInUp.inativeB 
						h4.prop-l1
							| E se as amostras forem encontradas após<br> os procedimentos realizados?
					.baseSed.inativeB.wow.fadeInUp 
						.text.mt1_5.azul.bold Você deve informar imediatamente, ou no prazo máximo de 24 horas, o grupo +BRCZ_ROUBOS_EXTRAVIOS_AGS no Outlook.
						.text.mt1_5 No e-mail, descreva o nome do produto, lote e quantidades recuperadas, bem como qualquer outra informação pertinente.
						.text.mt1_5 Lembre-se de separar essas amostras das demais que você possui e aguarde orientações sobre como realizar a devolução para a AstraZeneca. <span class="destaqueX">Estas amostras recuperadas, sob nenhuma hipótese, podem ser entregues aos médicos.</span>
						img.wow.zoomIn.sec2_02_img(src="../../assets/img/2025/sec06.png", alt="")

			
			section.sec8.wow.fadeInUp.inativeB#controlComplete
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| <i>Recall</i> de amostras
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec11.png", alt="")

					.line.wow.fadeInUp
						.text
							| Assista ao vídeo e conheça em detalhes mais desse importante<br> processo no nosso trato com as amostras.
						.containerVideo.wow.zoomIn.delay1
							video(src="../../assets/video/video3.mp4" controls controlsList="nodownload"  poster="../../assets/video/video3.png")

			

block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
