extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		//- .header
			

		.body
			section.sec1

				.baseTop.animated.fadeInDown
					img.logo.animated.fadeInUp.delay1(src="../../assets/img/logo2.svg", alt="")

				.base
					.baseCenter.animated.fadeInUp.delay2
						h1 Treinamento Anual
						p Procedimentos e Cuidados com Amostras Grátis de Medicamentos
					.subBase.animated.fadeInUp.delay3
						h2 IDENTIFIQUE SUA POSIÇÃO
			
					.menuListX
						.it.it1.animated.zoomIn.delay4(onclick="navigate.goto('01_tela')")
							| Representante
						.it.it2.animated.zoomIn.delay5(onclick="navigate.goto('02_tela')")
							| GERENTE DISTRITAL
						.it.it3.animated.zoomIn.delay6(onclick="navigate.goto('03_tela')")
							| Gerente de Produto<br> Analista ou<br> Coordenador de Marca
						.it.it4.animated.zoomIn.delay7(onclick="navigate.goto('04_tela')")
							| Outras Funções
					

block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
