extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		.header
		.loaderBase
			.lds-eclipse
				.spinner
				.spinner.reverse

		.body
			section#local1.sec1.local.local1(local=1)
				.baseTop.animated.fadeInDown
					.titulo.wow.fadeInRight.btnVoltar 
						button  <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
						| <span>Representante</span>
					img.logo.wow.zoomIn(src="../../assets/img/logo2.svg", alt="")
				
				.base
					.baseCenter.animated.fadeInUp.delay2
						h1.mt0 Treinamento Anual
						.text Procedimentos e Cuidados com Amostras Grátis de Medicamentos
					
				
					.containerTxt.wow.fadeInUp.delay3
						.text 
							| Bem-vindo ao nosso <b>Treinamento Anual sobre Procedimentos e Cuidados Essenciais na Distribuição de Amostras Grátis de Medicamentos!</b> Este é o momento ideal para atualizar seus conhecimentos de forma prática e objetiva.
						.text.text1.mt1.azul.bold 
							| Como Representante do nosso time de campo, seu papel é fundamental na entrega segura e eficiente de amostras aos profissionais de saúde. Ao longo do treinamento, você encontrará informações importantes sobre os procedimentos corretos, o manuseio adequado e os cuidados necessários para garantir a qualidade desses produtos.
						.text.text1.mt1 
							| No final, aproveite para testar seus conhecimentos com nosso quiz interativo!
						.text.text1.mt1.azul.bold 
							| Para começar, assista ao vídeo que destaca a relevância das amostras grátis para o setor.
						.text.text1.mt1.azul.bold 
							| Bons estudos!
						.player
							button.openModal.pulse(mod="modalGeral1") 
								img.wow.zoomIn(src="../../assets/img/2025/btnPlay01.png", alt="")
						img.setas.wow.fadeInDown.delay4(src="../../assets/img/2025/setas.png", alt="")
			
			.modalBase.modalGeral.modalGeral1.wow.fadeIn
				.modalBaseData
					video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")
					button.close-btn.modal-close.pulse 
						img.wow.zoomIn(src="../../assets/img/close.svg", alt="")
							
						

				//- .containerVideo.wow.zoomIn.delay1
				//- 		video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")

				
			
				
			//- .secRef
			section#local2.sec2.atB.at01.local.local2(local=2)
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| Recebimento das amostras e aceite no Veeva
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec02.png", alt="")

					.line.wow.fadeInUp
						.text
							| O controle e o cuidado com as amostras começam no momento do recebimento. <br>Certifique-se de verificar todas as quantidades junto aos entregadores e, em seguida, <br>registre a confirmação no sistema Veeva.
						.text.bold.azul.mt1_5 Vamos ver se conhece a ordem correta dos procedimentos que devem ser realizados?

						.infoSeta
							img(src="../../assets/img/2025/sec02_setas.svg", alt="")
							.text.azul.arrasteInfo Arraste os números colocando os procedimentos na ordem correta:
							

					.arrasteExercicio.arrasteExercicio1.wow.fadeInUp(arraste=1, exer=1)
						.arrasteExercicioBase
							.itCons
								.itContainer
									.it.it1.dragDrop_element(arraste=1) 
										img(src="../../assets/img/2025/sec02_it1.svg", alt="")
								.itContainer
									.it.it2.dragDrop_element(arraste=2) 
										img(src="../../assets/img/2025/sec02_it2.svg", alt="")
								.itContainer
									.it.it3.dragDrop_element(arraste=3)
										img(src="../../assets/img/2025/sec02_it3.svg", alt="")
								.itContainer
									.it.it4.dragDrop_element(arraste=4)
										img(src="../../assets/img/2025/sec02_it4.svg", alt="")
								.itContainer
									.it.it5.dragDrop_element(arraste=5)
										img(src="../../assets/img/2025/sec02_it5.svg", alt="")
								.itContainer
									.it.it6.dragDrop_element(arraste=6)
										img(src="../../assets/img/2025/sec02_it6.svg", alt="")

							.contCons
								
								.contContainer
									.cont.dragDrop_element(alvo=2)
										| Clicar em 'Recibo de Amostras Pendentes'
								.contContainer
									.cont.dragDrop_element(alvo=6)
										| Salvar
								.contContainer
									.cont.dragDrop_element(alvo=3)
										| Confirmar o número <br>do lote no sistema
								.contContainer
									.cont.dragDrop_element(alvo=4)
										| Clicar no <br>botão confirmar
								.contContainer
									.cont.dragDrop_element(alvo=5)
										| Informar a <br>quantidade Recebida
								.contContainer
									.cont.dragDrop_element(alvo=1)
										| Clicar no menu <br>minhas amostras
										
										

						butom.confirmar.mt2.wow.fadeInUp
							| <span>Clique</span> para conferir.

						.feed.feed-pos.wow.fadeInUp
							img(src="../../assets/img/2025/sec02_check.svg", alt="")
							.text.text4
								| <span class="bold">Essa é a sequência a ser realizada no recebimento das amostras.</span>
						
						.feed.feed-neg.wow.fadeInUp
							img(src="../../assets/img/2025/sec02_neg.svg", alt="")
							.text.text4
								| <span class="bold vermelho">Humm... teve alguns erros :(. Dê uma olhada na ordem correta e, se achar que está com dificuldade nesse tema, <a class="link vermelho" href="https://astrazeneca.sabacloud.com/Saba/Web_spf/E102PRD0001/common/ledetail/cours000000025483552/latestversion" target="_blank">clique</a> e assista ao vídeo com orientações completas.</span>
						
						.text.alert.alertBase.text1.mt1.wow.fadeInUp
								| Caso tenha alguma dificuldade nesse procedimento, consulte o material específico deste tema no Cornerstone SBX, para encontrá-lo digite: <b>"Transação de Amostra Grátis – Veeva"</b>
			
				

				#local3.info.info2.wow.fadeInUp.atB.at02.local.local3(local=3)
					
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| Gerenciamento de entrega de amostras junto aos HCPs
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec03.png", alt="")

					
					.line.wow.fadeInUp
						.text
							| Além de promover e compartilhar conhecimento que fortalece seus relacionamentos, o controle da entrega de amostras aos médicos exige atenção. O manuseio inadequado dos medicamentos pode comprometer sua qualidade e impactar o paciente final.
						.text.bold.azul.mt1_5 Por isso, é essencial registrar com precisão no Veeva CRM as quantidades e os lotes das amostras distribuídas a cada médico.
						.infoSeta
							img(src="../../assets/img/2025/sec02_setas.svg", alt="")
							.text.azul.arrasteInfo Confira seus conhecimentos sobre esse processo, enumerando cada uma das etapas na ordem correta:
							

					.arrasteExercicio.arrasteExercicio2.wow.fadeInUp(arraste=2, exer=2)
						.arrasteExercicioBase
							.itCons
								.itContainer
									.it.it1.dragDrop_element(arraste=1) 
										img(src="../../assets/img/2025/sec02_it1.svg", alt="")
								.itContainer
									.it.it2.dragDrop_element(arraste=2) 
										img(src="../../assets/img/2025/sec02_it2.svg", alt="")
								.itContainer
									.it.it3.dragDrop_element(arraste=3)
										img(src="../../assets/img/2025/sec02_it3.svg", alt="")
								.itContainer
									.it.it4.dragDrop_element(arraste=4)
										img(src="../../assets/img/2025/sec02_it4.svg", alt="")
								.itContainer
									.it.it5.dragDrop_element(arraste=5)
										img(src="../../assets/img/2025/sec02_it5.svg", alt="")
								.itContainer
									.it.it6.dragDrop_element(arraste=6)
										img(src="../../assets/img/2025/sec02_it6.svg", alt="")
								.itContainer
									.it.it7.dragDrop_element(arraste=7)
										img(src="../../assets/img/2025/sec02_it7.svg", alt="")
								.itContainer
									.it.it8.dragDrop_element(arraste=8)
										img(src="../../assets/img/2025/sec02_it8.svg", alt="")
								.itContainer
									.it.it9.dragDrop_element(arraste=9)
										img(src="../../assets/img/2025/sec02_it9.svg", alt="")

							.contCons
								.contContainer
									.cont.dragDrop_element(alvo=2)
										| Clicar em 'meu painel'
								.contContainer
									.cont.dragDrop_element(alvo=4)
										| Registrar sua visita
								.contContainer
									.cont.dragDrop_element(alvo=8)
										| Coletar assinatura <br>do médico
								.contContainer
									.cont.dragDrop_element(alvo=1)
										| Acessar o Veeva iRep
								.contContainer
									.cont.dragDrop_element(alvo=3)
										| Selecionar o <br>médico visitado
								.contContainer
									.cont.dragDrop_element(alvo=9)
										| Enviar
								.contContainer
									.cont.dragDrop_element(alvo=6)
										| Clicar em <br>adicionar sample
								.contContainer
									.cont.dragDrop_element(alvo=5)
										| Selecionar os <br>produtos promovidos
								.contContainer
									.cont.dragDrop_element(alvo=7)
										| Lançar a <br>quantidade entregue
								
								
										

						butom.confirmar.mt2.wow.fadeInUp
							| <span>Clique</span> para conferir.

						.feed.feed-pos.wow.fadeInUp
							img(src="../../assets/img/2025/sec02_check.svg", alt="")
							.text.text4
								| <span class="bold azul">Perfeito!</span>
						
						.feed.feed-neg.wow.fadeInUp
							img(src="../../assets/img/2025/sec02_neg.svg", alt="")
							.text.text4
								<span class="bold vermelho"> Remontamos os processos na ordem correta para facilitar o entendimento, caso tenha alguma dificuldade com esse procedimento, <a class="link vermelho" href="https://astrazeneca.sabacloud.com/Saba/Web_spf/E102PRD0001/common/ledetail/cours000000025483548/latestversion" target="_blank">clique aqui</a> para assistir ao vídeo com as orientações completas que está disponível no Cornerstone SBX.
							
						
						.text.alert.alertBase.text1.mt1.wow.fadeIn
								| Caso tenha alguma dúvida, consulte o material específico no Cornerstone SBX, busque como <b>"Transação de Amostra Grátis - Veeva"</b>
			
			
				#local4.info.info3.wow.fadeInUp.atB.at03.local.local4(local=4)
					
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| Qualidade das Amostras 
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec04.png", alt="")


					.line2
						.text
							| Para assegurar a qualidade e eficácia dos nossos medicamentos e cumprimento com as políticas da AstraZeneca, é essencial seguir algumas diretrizes importantes ao armazenar as amostras sob sua responsabilidade.
						.text.mt1.bold.azul O vídeo a seguir traz orientações sobre armazenamento e manuseio adequado dos medicamentos.
						.text.mt1.bold.azul Lembre-se: a preservação da qualidade das amostras sob seu cuidado <br>é sua responsabilidade.
						.containerVideo.wow.zoomIn.delay1
							video(src="../../assets/video/video2.mp4" controls controlsList="nodownload"  poster="../../assets/video/video2.png")


			section#local5.sec3.wow.fadeInUp.atB.at03.local.local5(local=5)
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| Roubo, perda ou extravio de amostras
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec05.png", alt="")

					.line.wow.fadeInUp
						.text
							| No manuseio diário das amostras, podem surgir imprevistos como extravios, perdas de medicamentos e, infelizmente, casos de furtos ou roubos.
						.text.mt1_5 Essas ocorrências podem favorecer falsificações, comércio ilegal e uso indevido dos medicamentos, o que pode comprometer não apenas a reputação da AstraZeneca, mas, principalmente, a segurança e o bem-estar dos pacientes.
						.text.bold.azul.mt1_5 Por isso, é essencial seguir rigorosamente as orientações e os prazos estabelecidos, com atenção especial para você que atua como representante.
						.lineExerc.mt1_5.wow.fadeInUp
							h3.bold.roxo
								| Você sabe dizer qual o prazo de notificação no caso de extravio de amostras?
			
							.exercic02.wow.fadeInUp
								.ques
									.itq.itq1(it=0, ques=1)
										.circ
										.val 12h
									.itq.itq2(it=1, ques=2)
										.circ
										.val 24h
									.itq.itq3(it=0, ques=3)
										.circ
										.val 48h
									.itq.itq4(it=0, ques=4)
										.circ
										.val 72h

								.feedQues.mt1_5.wow.fadeInUp
									.text.feedImg.feedImgPos
										| <b class="verde">Correto!</b> Esse é o prazo máximo para notificar qualquer extravio de amostras. Claro, o quanto antes notificar será benefício para todos.
									.text.feedImg.feedImgNeg
										| <b class="vermelho">Errado!</b> O prazo máximo para notificar qualquer extravio de amostras são de <b>24h</b>. Claro, o quanto antes notificar será benefício para todos.
							
							.baseXSSD.inativeB 
								.alertInf.mt1_5 A notificação deve ocorrer pelo grupo no Outlook:<br> +BRCZ_ROUBOS_EXTRAVIOS_AGS
								.text.mt1_5 <b class="roxo">Em casos de furtos ou roubos</b>, além da notificação, <b>é obrigatório registrar um Boletim de Ocorrência Policial</b> com uma descrição detalhada do incidente, incluindo o nome do produto, lote e quantidades subtraídas, para que as autoridades competentes estejam cientes e possam tomar as devidas providências.
								.text.mt1_5 <b>Também é mandatório enviar uma cópia deste boletim para o grupo +BRCZ_ROUBOS_EXTRAVIOS_AGS</b>. Caso o boletim de ocorrência policial não contenha todos os detalhes necessários, utilize o corpo do e-mail da sua notificação para adicionar as informações essenciais que serão utilizadas pelos nossos times internos.
								.text.textInfo.mt1_5.bold.roxo Lembre-se de que qualquer informação pode fazer uma diferença significativa na resolução do caso. Portanto, <br>relate tudo o que lembrar!
						
					.sec2_block02.wow.fadeInUp.inativeB
						.badeX
							h4.prop-l1
								| E se as amostras forem encontradas após<br> os procedimentos realizados?
					.baseSed.inativeB.wow.fadeInUp 
						.text.mt1_5.azul.bold Você deve informar imediatamente, ou no prazo máximo de 24 horas, o grupo +BRCZ_ROUBOS_EXTRAVIOS_AGS no Outlook.
						.text.mt1_5 No e-mail, descreva o nome do produto, lote e quantidades recuperadas, bem como qualquer outra informação pertinente.
						.text.mt1_5 Lembre-se de separar essas amostras das demais que você possui e aguarde orientações sobre como realizar a devolução para a AstraZeneca. <span class="destaqueX">Estas amostras recuperadas, sob nenhuma hipótese, podem ser entregues aos médicos.</span>
						img.wow.zoomIn.sec2_02_img(src="../../assets/img/2025/sec06.png", alt="")

			section#local6.sec4.wow.fadeInUp.inativeB.local.local6(local=6)
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						.badeX
							h4.prop-l1
								| Medidas essenciais para reduzir os riscos<br> de roubo ou perda de amostras:
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec07.png", alt="")

					.line.wow.fadeInUp
						ul
							li Transporte apenas as amostras que serão distribuídas no dia não excedendo 24 horas, <br>mantendo o restante em um local seguro em casa. 
							li Sempre que possível, utilize estacionamentos para maior segurança.
							li Caso não haja estacionamento disponível, leve as amostras com você e evite deixá-las <br>desacompanhadas no veículo.
			
			section#local7.sec5.wow.fadeInUp.inativeB.local.local7(local=7)
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| Amostras Danificadas ou Suspeitas de Falsificação
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec08b.png", alt="")

					.line.wow.fadeInUp
						.text
							| Se identificar qualquer dano nas amostras, receber relatos de problemas de qualidade como (caixa danificada, falta de <i>blister</i> na caixinha, etc.) ou notar uma aparência incomum que possa indicar falsificação, comunique imediatamente o SAC pelo e-mail <a class="roxo" href="mailto:sac@astrazeneca.com" target="_blank">sac@astrazeneca.com</a>.
						.text.mt1.bold.azul Não abra, manuseie ou tente corrigir possíveis avarias e, acima de tudo, não distribua essas amostras.
						.text.mt1 A equipe de Qualidade é responsável por investigar a procedência de desvios e encaminhar os casos aos times globais.
						.text.mt1 Por isso, <b class="azul">aguarde as orientações antes de tomar qualquer ação</b>.
			
			section#local8.sec6.wow.fadeInUp.inativeB.local.local8(local=8)
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| Amostras Vencidas
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec09.png", alt="")

					.line.wow.fadeInUp
						.text
							| <b class="azul">As amostras possuem um prazo de validade definido e não devem ser entregues aos pacientes após o vencimento ou com um vencimento próximo que impossibilite a utilização do produto em sua totalidade</b>. Sendo assim, para garantir a segurança no uso, é essencial que os profissionais de saúde recebam as amostras com pelo menos <b class="azul">3 meses de antecedência ao prazo final</b>.
						.text.mt1 Esse período mínimo é necessário para que o produto percorra todo o trajeto logístico e permita ao médico prescrever um tratamento adequado.
						.text.mt1.bold.azul Caso alguma amostra tenha um prazo inferior a 3 meses, você deve acionar o processo de logística reversa para devolvê-la à AstraZeneca para destruição.
						.tabela
							.headerBase Procedimento para tratativa de Amostras Vencidas
							.bloco
								ul 
									li <b>Alerte seu Gerente Distrital</b> com as informações do produto, <br>lote e quantidade.
									li <b>Aguarde orientações do operador</b> logístico para a coleta <br>dos medicamentos.
								.text.azul.bold As amostras coletadas seguirão os procedimentos internos <br>de destruição.
			
			section#local9.sec7.wow.fadeInUp.inativeB.local.local9(local=9)
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						.badeX
							h4.prop-l1
								| O que fazer com as amostras em caso <br>de movimentações de colaboradores?
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec10.png", alt="")

					.line.wow.fadeInUp
						.text
							| A movimentação de profissionais é um processo natural, seja por promoções, <i>job rotations</i>, mudanças de unidade de negócios, afastamentos médicos ou desligamentos.
						.text.mt1.bold.azul Mas o que fazer com as amostras nesses casos?
						.blockTxt.mt1
							.text O procedimento é padronizado e deve ser conduzido pelo GD. Primeiro, ele deve transferir o saldo de amostras para si próprio e, em seguida, realizar a transferência para outro representante.
			
			section#local10.sec8.wow.fadeInUp.inativeB.local.local10(local=10)
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| <i>Recall</i> de amostras
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec11.png", alt="")

					.line.wow.fadeInUp
						.text
							| Assista ao vídeo e conheça em detalhes mais desse importante<br> processo no nosso trato com as amostras.
						.containerVideo.wow.zoomIn.delay1
							video(src="../../assets/video/video3.mp4" controls controlsList="nodownload"  poster="../../assets/video/video3.png")
			
			section#local11.sec12.wow.fadeInUp.inativeB.local.local11(local=11)
				
				.info.wow.fadeInUp
					.sec2_block01.wow.fadeInUp
						h4.prop-l1
							| <b>Desafio:</b> Identifique situações de risco às nossas amostras
					img.wow.zoomIn.sec2_01_img(src="../../assets/img/2025/sec13.png", alt="")

					.line.wow.fadeInUp
						
						.infoSeta
							img(src="../../assets/img/2025/sec02_setas.svg", alt="")
							.text.azul.arrasteInfo Arraste os números para associar corretamente cada texto à imagem que representa uma situação de risco — provável ou evidente — no cuidado, armazenamento ou manuseio das nossas amostras grátis.
							

					.arrasteExercicio.arrasteExercicio5.wow.fadeInUp(arraste=5, exer=3, end=1)
						.arrasteExercicioBase
							.itCons
								.itContainer
									.containTxt Amostras deixadas expostas no veículo, ou sem supervisão, durante visita <br>ao médico. 
									.it.it1.dragDrop_element(arraste=1) 
										img(src="../../assets/img/2025/sec02_it1.svg", alt="")
								.itContainer
									.containTxt Entrega de amostras com data de vencimento inferior a 90 dias.
									.it.it2.dragDrop_element(arraste=2) 
										img(src="../../assets/img/2025/sec02_it2.svg", alt="")
								.itContainer
									.containTxt Carregamento excessivo de amostras ultrapassando a entrega de um <br>dia de visitas.
									.it.it3.dragDrop_element(arraste=3)
										img(src="../../assets/img/2025/sec02_it3.svg", alt="")
								.itContainer
									.containTxt Amostras armazenadas ao lado de produtos <br>de limpeza.
									.it.it4.dragDrop_element(arraste=4)
										img(src="../../assets/img/2025/sec02_it4.svg", alt="")
								.itContainer
									.containTxt Amostras armazenadas em garagem, sem sua supervisão, e vulneráveis aos <br>insetos e à sujeira.
									.it.it5.dragDrop_element(arraste=5)
										img(src="../../assets/img/2025/sec02_it5.svg", alt="")
								

							.contCons
								.contContainer
									.cont.dragDrop_element(alvo=5)
										img(src="../../assets/img/2025/sec13d.png", alt="")
								.contContainer
									.cont.dragDrop_element(alvo=2)
										img(src="../../assets/img/2025/sec13a.png", alt="")
								.contContainer
									.cont.dragDrop_element(alvo=4)
										img(src="../../assets/img/2025/sec13b.png", alt="")
								.contContainer
									.cont.dragDrop_element(alvo=1)
										img(src="../../assets/img/2025/sec13e.png", alt="")
								.contContainer
									.cont.dragDrop_element(alvo=3)
										img(src="../../assets/img/2025/sec13c.png", alt="")
								
								
										

						butom.confirmar.mt2.wow.fadeInUp
							| <span>Clique</span> para conferir.

						.feed.feed-pos.wow.fadeInUp
							img(src="../../assets/img/2025/sec02_check.svg", alt="")
							.text.text4
								| <span class="bold">Você associou corretamente os textos às imagens, identificando com precisão as situações de risco no cuidado, armazenamento e manuseio das amostras grátis. Esse olhar atento é essencial para garantir boas práticas e segurança no dia a dia. Continue assim!</span>
						
						.feed.feed-neg.wow.fadeInUp
							img(src="../../assets/img/2025/sec02_neg.svg", alt="")
							.text.text4
								| <span class="bold vermelho">Humm... teve alguns erros :(. Dê uma olhada na ordem correta.</span>
						
						.infoFinish.wow.fadeInUp.delay2 Você concluiu o Treinamento Anual de Amostras Grátis.
				
			

block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
