extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")

block body

		.header
			

		.body
			section.sec1
				img.logo.wow.fadeInUp(src="../../assets/img/logo.svg", alt="")
				.titulo.wow.fadeInRight.btnVoltar 
					button  <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
					| <span>GERENTE DISTRITAL</span>
				
				.containerTxt.wow.fadeInUp
					.text.azul 
						| Bem-vindo ao Treinamento Anual sobre Procedimentos e Cuidados Essenciais na Distribuição de Amostras Grátis de Medicamentos para uma breve atualização dos seus conhecimentos.
					.text.text1.azul.bold 
						| <b>Você, Gerente Distrital, garantindo a atuação dos seus colaboradores no campo, desempenha um papel importante na distribuição dos nossos medicamentos aos profissionais de saúde.</b>
					.text.text1.mt0_5.azul 
						| Notará que nosso treinamento traz informações importantes sobre os procedimentos, manuseios e cuidados com nossas amostras.<b> Mas, na sua posição, além de garantir que o Representante entregue as amostras com a qualidade adequada, pedimos a sua atenção total para que <br>realize o acompanhamento da conclusão deste treinamento junto a seu time, nos prazos preconizados no Cornerstone.</b>
					.text.text1.mt0_5.roxo 
						| Para apoiá-lo nessa tarefa, é importante que <b>acesse periodicamente o Cornerstone<br> na seção 'Minha equipe', dessa forma você conseguirá acompanhar os prazos<br> de vencimentos de todo o seu time.</b>
					.text.text1.mt0_5.azul.ml 
						| <b>O time de MCOQ agradece ao seu apoio e esperamos<br> que aproveite o conteúdo!</b>
					.text.text1.mt0_5.azul 
						| Ao final, teste seus conhecimentos participando<br> do nosso quiz. Mas, para começar, assista ao vídeo que<br> destaca a importância das amostras grátis no nosso setor.
					.text.text1.mt0_5
						| <b class="roxo">Basta dar play, bons estudos!</b>
					img.wow.zoomIn.tela01_01(src="../../assets/img/tela01_01.svg", alt="")

				.containerVideo.wow.zoomIn.delay1
						video(src="../../assets/video/video1.mp4" controls controlsList="nodownload"  poster="../../assets/video/video1.png")

				
			

			section.sec5.wow.fadeInUp
				
				.containerTxt.wow.fadeInUp
					h4 
						| ROUBO, PERDA OU EXTRAVIO DE AMOSTRAS
					img.sec-title.wow.zoomIn(src="../../assets/img/ladrao.svg", alt="")
				
				.info.wow.fadeInUp
					
					.text.text1.mt0_5
						| No dia a dia com as amostras, situações indesejadas podem ocorrer, como extravios,<br> perda de medicamentos e, infelizmente, casos de furtos ou roubos.
					.text.text1.mt0_5.azul
						| <b>Esses problemas podem contribuir para falsificações, comércio clandestino ou uso<br> indevido dos medicamentos, colocando em risco a reputação da AstraZeneca e, <br>acima de tudo, a saúde dos nossos pacientes.</b>
					.text.text1.mt0_5
						| Portanto, ao receber um aviso do seu representante em relação à um roubo/extravio de amostras, garanta que ele faça o reporte no prazo adequado para que nossos processos internos minimizem eventuais danos.
					
					.exercic02
						h4
							| <span class="bold azul">Qual o prazo de notificação no caso de extravio de amostras?</span>
						.ques
							.itq.itq1(it=0)
								img.wow.zoomIn(src="../../assets/img/sec4-img-12.svg", alt="")
							.itq.itq2(it=1)
								img.wow.zoomIn(src="../../assets/img/sec4-img-14.svg", alt="")
							.itq.itq3(it=0)
								img.wow.zoomIn(src="../../assets/img/sec4-img-24.svg", alt="")
							.itq.itq4(it=0)
								img.wow.zoomIn(src="../../assets/img/sec4-img-72.svg", alt="")
						.feedQues
								img.feedImg.feedImgPos.wow.zoomIn(src="../../assets/img/sec4-img-pos.svg", alt="")
								img.feedImg.feedImgNeg.wow.zoomIn(src="../../assets/img/sec4-img-neg.svg", alt="")

					.infoBase.inativeB 
						.baseX
							img.sec-title.wow.zoomIn(src="../../assets/img/sec4-img-3.svg", alt="")
							.text.text1.wow.fadeInUp.azul Esse é o tempo máximo que você tem para notificar nosso time por meio do grupo no Outlook: <span class="roxo">+BRCZ_ROUBOS_EXTRAVIOS_AGS</span>
				
					.containerTx2.wow.fadeInUp.inativeB 
						.text.text1.mt2_5
							| <b class="azul">É também dever do seu representante, em casos de furtos ou roubos</b>, além da notificação, <b class="azul">registrar um Boletim de Ocorrência Policial</b> com uma descrição detalhada do incidente, <b class="azul">incluindo o nome do produto, lote e quantidades subtraídas</b>, para que as autoridades competentes estejam cientes e possam tomar as devidas providências.
						.text.text1.mt0_5
							| <b class="azul">Também é mandatório enviar uma cópia do boletim para o grupo<br> +BRCZ_ROUBOS_EXTRAVIOS_AGS</b>. E caso o boletim de ocorrência policial não contenha todos os detalhes necessários, o representante deve utilizar o corpo do e-mail da notificação para adicionar as informações essenciais que serão utilizadas pelos nossos times internos.
						.text.text1.text2.mt1
							| <b class="azul">Reforce a ele que qualquer informação pode fazer uma diferença significativa na resolução do caso. Portanto, ele deve relatar tudo o que lembrar!</b>
					.blockColor.inativeB 
						img.peopleTriste.wow.zoomIn(src="../../assets/img/peopleTriste.svg", alt="")
						h4
							| E se as amostras forem encontradas<br>após os procedimentos realizados?
						.text
							| <b>Seu representante deve informar imediatamente</b>, ou no prazo máximo de 24 horas, <b>o grupo +BRCZ_ROUBOS_EXTRAVIOS_AGS no Outlook</b>.
						.text
							| No e-mail, ele deve descrever o nome do produto, lote e quantidades recuperadas, bem como qualquer outra informação pertinente.
						.text
							| É importante que ele separe essas amostras encontradas das <br>demais e aguarde orientações sobre como realizar a devolução<br> para a AstraZeneca. 
						.text.bold.ml
							| <b>As amostras recuperadas, sob nenhuma hipótese,<br>podem ser entregues aos médicos.</b>
						
					
				
			section.sec6.wow.fadeInUp.inativeB 

				.containerTxt.wow.fadeInUp
					img.sec-title.wow.zoomIn(src="../../assets/img/amostra.svg", alt="")
				
				.info.wow.fadeInUp
					h4.azul Amostras Vencidas
					.text.textB
						| Nossas amostras, assim como todos <b>os produtos, têm um prazo de validade<br> estabelecido, e os pacientes não devem recebê-las com prazos vencidos.</b> <br>Portanto, as amostras devem ser entregues aos profissionais de saúde com<br> uma margem mínima de 3 meses antes do seu vencimento. Esse prazo mínimo <br>é necessário para que o produto cumpra seu percurso logístico e o médico possa <br>orientar um tratamento seguro para seus pacientes.<br> <b>Garanta que seus representantes respeitem esse prazo.</b>
					.line
						img.bg.wow.zoomIn(src="../../assets/img/numero_3.svg", alt="")
						.text.text1.azul.bold
							| Se, por qualquer motivo, as amostras tiverem um prazo inferior a 3 meses, o representante deve acionar o processo de logística reversa para que elas sejam devolvidas à AstraZeneca para destruição. Fique de olho também nesse processo!
					
					.blockXD
						img.wow.zoomIn(src="../../assets/img/processo.svg", alt="")
						h4.azul PROCEDIMENTO PARA TRATATIVA DE AMOSTRAS VENCIDAS
						.text.mt1.bold Seu Representante deve informar o lote e a quantidade dos<br> medicamentos vencidos, daí, caberá a você:
						.tedXD
							.text • Verificar com os demais membros da equipe se há mais amostras<br> nas mesmas condições.
							.text • Consolidar as informações e enviar um e-mail para o grupo do Outlook brczfaturamentopromocional@astrazeneca.com.
						.text.azul.bold <b>Após esse processo, o operador logístico será notificado e seguirá com<br> os procedimentos internos para a coleta dos medicamentos, junto aos<br> representantes, e destruição das amostras.</br>
				
				.sec2_block01.wow.fadeInUp
					h4
						| O que fazer com as amostras em <br>caso de movimentações de colaboradores?
					img.sec2_01_img(src="../../assets/img/sec6.svg", alt="")
				
				
				.infoxd.wow.fadeInUp
					.text.bold
						| A movimentação de profissionais, como promoção de funcionário onde o mesmo irá trabalhar com produtos diferentes, job rotations, mudanças de BUs, licenças/afastamentos médicos, pedidos de demissão ou desligamentos, é comum.
					.text.bold.mt2
						| <b class="azul">Mas o que fazer com suas amostras nesses casos?</b>
				.blockRoxo.mt2.wow.fadeInUp 
					.text.branca.bold Em todas as situações, o procedimento é padrão e deve ser conduzido por você. Inicialmente, você deverá transferir o saldo de amostras para si mesmo e, em seguida, transferi-lo para outro representante. 
					

				.containerTxt.containerTxt2.wow.fadeInUp
					img.sec-title.wow.zoomIn(src="../../assets/img/remedio.svg", alt="")
					
				
				.info.info2.wow.fadeInUp
					.baseInfo
						h4.azul Recall de amostras
						.text.textB
							| Esse é mais um processo importante<br> em nosso negócio.
						.text.textB
							| <b>Conheça-o em detalhes assistindo ao vídeo.</b>
					.containerVideo.wow.zoomIn.delay1
						video(src="../../assets/video/video3.mp4" controls controlsList="nodownload"  poster="../../assets/video/video3.png")
			
		
				
					
			section.sec9.wow.fadeInUp.inativeB#controlComplete
				
				.info
					img.lapis(src="../../assets/img/lapis.svg", alt="")
					.infoBase
						.text Encerramos aqui o nosso treinamento, hora de testar <br>seus conhecimentos, são apenas cinco questões.<br> <b>Responda-as e confira o resultado</b>.
						.liX 
							img(src="../../assets/img/sobre.svg", alt="")
							.text.roxo.bold Lembre-se de que você pode acessar à política completa <a href="https://az.app.box.com/file/875626531411" class="link roxo" target="_blank">clicando aqui</a>.
							
					
					
					.containerExercicio
						.exercicioInit.exercicioInit1.mt2_5(correta=3)
							.indice 1
							.text.title.subtitulo
									<span class="">Em relação ao controle do meu time sobre o realização do treinamento anual:</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Não preciso me preocupar, sei que estarão aptos a resolver isso sozinhos.</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Devo explicar a importância e observar no Cornerstone o prazo de cada um deles.</span>
								.alter.alter3(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">O sistema avisará por e-mail, se o treinamento estiver vencido, caso não cumpram o prazo estabelecido.</span>
								.alter.alter4(res=1, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">As alternativas 2 e 3 estão corretas.</span>
						
						.exercicioInit.exercicioInit2.mt2_5(correta=4)
							.indice 2
							.text.title.subtitulo
									<span class="">No que se refere a qualidade das amostras:</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Elas simbolizam a imagem da AstraZeneca perante aos médicos.</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Sob condições inadequadas de armazenamento podem comprometer sua eficácia.</span>
								.alter.alter3(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">Os times de campos são também responsáveis pelos seus cuidados.</span>
								.alter.alter4(res=1, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">Todas alternativas estão corretas.</span>
						
						.exercicioInit.exercicioInit3.mt2_5(correta=4)
							.indice 3
							.text.title.subtitulo
									<span class="">Quais as obrigações dos representantes em casos de roubo ou furto de amostras?</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Abrir um boletim de ocorrência na delegacia mais próxima.</span>
								.alter.alter2.alterCustom(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Informar todos os seus colegas.</span>
								.alter.alter3(res=1, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">Informar ao grupo responsável na AstraZeneca (+BRCZ_ROUBOS_EXTRAVIOS_AGS) enviando o boletim de ocorrência aberto em até 24 horas.</span>
								.alter.alter4(res=0, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">Informar ao grupo responsável na AstraZeneca (+BRCZ_ROUBOS_EXTRAVIOS_AGS) imediatamente ao episódio, sem necessidade de abertura de boletim de ocorrência.</span>
							
						.exercicioInit.exercicioInit4.mt2_5(correta=3)
							.indice 4
							.text.title.subtitulo
									<span class="">Caso as amostras sejam encontradas após um alerta de perda, o que os representantes devem fazer?</span>
							.alters
								.alter.alter1(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Nada a se preocupar, devem seguimos trabalhando.</span>
								.alter.alter2(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Informar ao grupo responsável na AstraZeneca (+BRCZ_ROUBOS_EXTRAVIOS_AGS) imediatamente, ou no prazo máximo de 24 horas.</span>
								.alter.alter3.alterCustom(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">Separar as amostras encontradas para devolução para a AstraZeneca.</span>
								.alter.alter4.alterCustom(res=1, indice=4)
									.selector
									.text.altTxt 
										<span class="azul">Alternativas 2 e 3 estão corretas.</span>
							
						.exercicioInit.exercicioInit5.mt2_5(correta=4)
							.indice 5
							.text.title.subtitulo
									<span class="">Assinale a afirmativa correta relacionada ao recall de medicamentos:</span>
							.alters
								.alter.alter1.alterCustom(res=0, indice=1)
									.selector
									.text.altTxt 
										<span class="azul">Trata-se de um processo mandatório que vale também para as amostras<br> grátis comercializadas</span>
								.alter.alter2.alterCustom(res=0, indice=2)
									.selector
									.text.altTxt 
										<span class="azul">Garantir que o representante atenda ao prazo de 48 horas para envio<br>das informações solicitadas.</span>
								.alter.alter3.alterCustom(res=0, indice=3)
									.selector
									.text.altTxt 
										<span class="azul">Trata-se de um processo válido apenas para os medicamentos comercializados.</span>
								.alter.alter4(res=1 , indice=4)
									.selector
									.text.altTxt 
										<span class="azul">Alternativas 1 e 2 estão corretas.</span>
						
						.btnConfrmar.mt1_5
							| FINALIZAR
						
						.feed.feed-positivo1.mt1_5.wow.fadeIn
							.textBase
								.text
									| <span class="bold azul">Parabéns! Você assimilou todo o conteúdo! Siga em frente e bom trabalho!</span>
						
						.feed.feed-positivo2.mt1_5.wow.fadeIn
							.textBase
								.text
									| <span class="bold azul">Uma questão errada! Veja com atenção qual seria a resposta correta e bom trabalho!</span>
						
						.feed.feed-negativo.mt1_5.wow.fadeIn
							.textBase
								.text
									| <span class="bold branca">Hum, melhor rever esse conteúdo. Esfrie a cabeça e, mais tarde, tente novamente!</span>
			

block scripts
	script(src="../../vendor/wow.min.js")
	script(src="script.js")
